@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";

:root {
  --header-height: 4rem;
}


.container {
  max-width: 1200px;
  margin-top: var(--header-height);
  padding: 60px;
}
